@model VideoGameCritic.Data.ReviewScoresViewModel

@{
    ViewData["Title"] = "Main Page";
}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        
        @* Game One  *@
        <div class="dim-container col-md-6">
            <div class="img-container non-highlightable vh-100">

                @* Title Header *@
                <div class="title-container">
                    <img src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">
                    <div class="title-overlay-text">@Model.GameOne.Name</div>

                    @* Result Icon *@
                    <div class="result-container">
                        <i id="gameOne_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                        <i id="gameOne_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
                    </div>
                </div>

                @* Splash *@
                <button id="btnGameOne" class="splash-button" style="background-image: url('@Model.GameOne.ImageUri');"></button>
                <input id="gameOneId" type="hidden" name="gameOneId" value="@Model.GameOne.GameId" />

            </div>
        </div>

        @* Game Two *@
        <div class="dim-container col-md-6">
            <div class="img-container non-highlightable vh-100">

                @* Title Header *@
                <div class="title-container">
                    <img src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">
                    <div class="title-overlay-text">@Model.GameTwo.Name</div>

                    @* Result Icon *@
                    <div class="result-container">
                        <i id="gameTwo_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                        <i id="gameTwo_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
                    </div>
                </div>

                @* Splash *@
                <button id="btnGameTwo" class="splash-button" style="background-image: url('@Model.GameTwo.ImageUri');"></button>
                <input type="hidden" name="gameTwoId" value="@Model.GameTwo.GameId" />

            </div>
        </div>
    </div>
</div>

@* JS *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#btnGameOne').click(function () {
        let gameOneId = $('#gameOneId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameOneId },
            success: function (data) {
                if (data !== null) {
                    if (data.IsCorrect) {
                        $('#gameOne_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameOne_IncorrectIcon').css('display', 'block');
                    }
                }
            }
        });
    });
</script>

<script>
    $('#btnGameTwo').click(function () {
        let gameTwoId = $('#gameTwoId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameTwoId },
            success: function (data) {
                if (data !== null) {
                    if (data.IsCorrect) {
                        $('#gameTwo_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameTwo_IncorrectIcon').css('display', 'block');
                    }
                }
            }
        });
    });
</script>

