@model VideoGameCritic.Data.ReviewScoresViewModel

@{
    ViewData["Title"] = "Main Page";
}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        
        @* Game One  *@
        <div class="dim-container col-md-6">
            <div class="img-container non-highlightable vh-100">

                @* Title Header *@
                <div class="title-container">
                    <img src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">
                    <div class="title-overlay-text">@Model.GameOne.Name</div>
                </div>

                @* Splash *@
                <form class="splash-button" asp-controller="ReviewScores" asp-action="btnGameOne_Click" method="post">
                    <button class="splash-button" style="background-image: url('@Model.GameOne.ImageUri');"></button>
                    <input type="hidden" name="gameOneId" value="@Model.GameOne.GameId" />
                </form>

            </div>
        </div>

        @* Game Two *@
        <div class="dim-container col-md-6">
            <div class="img-container non-highlightable vh-100">

                @* Title Header *@
                <div class="title-container">
                    <img src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">
                    <div class="title-overlay-text">@Model.GameTwo.Name</div>
                </div>

                @* Splash *@
                <form class="splash-button" asp-controller="ReviewScores" asp-action="btnGameTwo_Click" method="post">
                    <button class="splash-button" style="background-image: url('@Model.GameTwo.ImageUri');"></button>
                    <input type="hidden" name="gameTwoId" value="@Model.GameTwo.GameId" />
                </form>

            </div>
        </div>
    </div>
</div>