@model VideoGameCritic.Data.ReviewScoresViewModel

@{
    ViewData["Title"] = "Review Scores";
}

<div id="reviewScores_Grid" class="non-highlightable">

    @* Games *@
    <div id="games_Grid">

        @* Game One *@
        <div id="gameOne_Grid" class="dim-container">

            @* Splash *@
            <div class="gameSplash_Container">
                <button id="gameOneButton" class="gameSplash_Button" style="background-image: url('@Model.CurrentRound?.GameOne.ImageUri');"></button>
                <input id="gameOneId" type="hidden" name="gameOneId" value="@Model.CurrentRound?.GameOne.GameId" />
            </div>

            @* Title *@
            <div class="gameTitle">
                @Model.CurrentRound?.GameOne.Name
            </div>

            @* Game Score *@
            <div id="gameOne_Score" class="gameScore">
                [Score]
            </div>

            @* Result Icon *@
            <div class="choiceResult_Container">
                <i id="gameOne_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                <i id="gameOne_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
            </div>

            @* Outlet Scores *@
            <div id="gameOneOutletScores_Container">

                @* Metacritic Score *@
                <div id="gameOne_Metacritic_Score" class="gameOutletScore">
                    [Metacritic Score]
                </div>

                @* User Score *@
                <div id="gameOne_User_Score" class="gameOutletScore">
                    [User Score]
                </div>

            </div>
        </div>

        <a id="centerButton" class="color_gray_flat" href="/">
            OR
        </a> 

        @* Game Two *@
        <div id="gameTwo_Grid" class="dim-container">

            @* Splash *@
            <div class="gameSplash_Container">
                <button id="gameTwoButton" class="gameSplash_Button" style="background-image: url('@Model.CurrentRound?.GameTwo.ImageUri');"></button>
                <input id="gameTwoId" type="hidden" name="gameTwoId" value="@Model.CurrentRound?.GameTwo.GameId" />
            </div>

            @* Title *@
            <div class="gameTitle">
                @Model.CurrentRound?.GameTwo.Name
            </div>

            @* Game Score *@
            <div id="gameTwo_Score" class="gameScore">
                [Score]
            </div>

            @* Result Icon *@
            <div class="choiceResult_Container">
                <i id="gameTwo_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                <i id="gameTwo_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
            </div>

            @* Outlet Scores *@
            <div id="gameTwoOutletScores_Container">

            @* Metacritic Score *@
                <div id="gameTwo_Metacritic_Score" class="gameOutletScore">
                    [Metacritic Score]
                </div>

                @* User Score *@
                <div id="gameTwo_User_Score" class="gameOutletScore">
                    [User Score]
                </div>

            </div>

        </div>

        @* Round Carousel *@
        <div id="roundCarousel_Container">
@*             <ejs-carousel id="defaultCarousel" dataSource="@Model.GameRounds" itemTemplate='<div class="slide-content">${GameOne.Name}</div>'>
            </ejs-carousel> *@
@* 
            <ejs-carousel id="defaultCarousel" dataSource="@Model.GameRounds" itemTemplate='<div class="slide-content">Hey</div>'>
            </ejs-carousel> *@
        </div>
    </div>

    @* Footer *@
    <div id="footerText">
        Last updated [DATE]
    </div>
</div>

@* JS *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#gameOneButton').click(function () {
        let gameOneId = $('#gameOneId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameOneId },
            success: function (data) {
                if (data !== null) {
                    if (data.isCorrect == true) {
                        $('#gameOne_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameOne_IncorrectIcon').css('display', 'block');
                    }

                    $('#gameOne_Score').text(data.gameOneScore);
                    $('#gameOne_Metacritic_Score').text('Metacritic Score: ' + data.gameOneMetacriticScore);
                    $('#gameOne_User_Score').text('User Score: ' + data.gameOneUserScore);
                    $('#gameOne_Score').css('display', 'block');
                    $('#gameOneOutletScores_Container').css('display', 'block');

                    $('#gameTwo_Score').text(data.gameTwoScore);
                    $('#gameTwo_Metacritic_Score').text('Metacritic Score: ' + data.gameTwoMetacriticScore);
                    $('#gameTwo_User_Score').text('User Score: ' + data.gameTwoUserScore);
                    $('#gameTwo_Score').css('display', 'block');
                    $('#gameTwoOutletScores_Container').css('display', 'block');

                    $('#centerButton').text("NEXT");
                    $('#centerButton').css('pointer-events', 'auto');
                    $('#centerButton').removeClass('color_gray_flat');
                    $('#centerButton').addClass('color_purple');
                }
            }
        });
    });

    $('#gameTwoButton').click(function () {
        let gameTwoId = $('#gameTwoId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameTwoId },
            success: function (data) {
                if (data !== null) {
                    if (data.isCorrect == true) {
                        $('#gameTwo_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameTwo_IncorrectIcon').css('display', 'block');
                    }

                    $('#gameOne_Score').text(data.gameOneScore);
                    $('#gameOne_Metacritic_Score').text('Metacritic Score: ' + data.gameOneMetacriticScore);
                    $('#gameOne_User_Score').text('User Score: ' + data.gameOneUserScore);
                    $('#gameOne_Score').css('display', 'block');
                    $('#gameOneOutletScores_Container').css('display', 'block');

                    $('#gameTwo_Score').text(data.gameTwoScore);
                    $('#gameTwo_Metacritic_Score').text('Metacritic Score: ' + data.gameTwoMetacriticScore);
                    $('#gameTwo_User_Score').text('User Score: ' + data.gameTwoUserScore);
                    $('#gameTwo_Score').css('display', 'block');
                    $('#gameTwoOutletScores_Container').css('display', 'block');

                    $('#centerButton').text("NEXT");
                    $('#centerButton').css('pointer-events', 'auto');
                    $('#centerButton').removeClass('color_gray_flat');
                    $('#centerButton').addClass('color_purple');
                }
            }
        });
    });

    $('prev').onclick = function () {
        var carouselObj = document.querySelector(".e-carousel").ej2_instances[0];
        carouselObj.prev();
    }

    $('next').onclick = function () {
        var carouselObj = document.querySelector(".e-carousel").ej2_instances[0];
        carouselObj.next();
    }
</script>

