@model VideoGameCritic.Data.ReviewScoresViewModel

@{
    ViewData["Title"] = "Review Scores";
}

<div id="reviewScores_Grid" class="non-highlightable">

    @* Games *@
    <div id="games_Grid">

        @* Game One *@
        <div id="gameOne_Grid" class="dim-container">

            @* Splash *@
            <div class="gameSplash_Container">
                <button id="btnGameOne" class="gameSplash_Button" style="background-image: url('@Model.GameOne.ImageUri');"></button>
                <input id="gameOneId" type="hidden" name="gameOneId" value="@Model.GameOne.GameId" />
            </div>

            @* Title *@
            <div class="gameTitle">
                @Model.GameOne.Name
            </div>

            @* Game Score *@
            <div class="gameScore">
                @Model.GameOne.AverageUserScore
            </div>

            @* Result Icon *@
            <div class="choiceResult_Container">
                <i id="gameOne_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                <i id="gameOne_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
            </div>
        </div>

        <div id="games_OR">OR</div> 

        @* Game Two *@
        <div id="gameTwo_Grid" class="dim-container">

            @* Splash *@
            <div class="gameSplash_Container">
                <button id="btnGameTwo" class="gameSplash_Button" style="background-image: url('@Model.GameTwo.ImageUri');"></button>
                <input id="gameTwoId" type="hidden" name="gameTwoId" value="@Model.GameTwo.GameId" />
            </div>

            @* Title *@
            <div class="gameTitle">
                @Model.GameTwo.Name
            </div>

            @* Game Score *@
            <div class="gameScore">
                @Model.GameTwo.AverageUserScore
            </div>

            @* Result Icon *@
            <div class="choiceResult_Container">
                <i id="gameTwo_CorrectIcon" class="fa-solid fa-check fa-8x" style="color: #33ff55; display: none;"></i>
                <i id="gameTwo_IncorrectIcon" class="fa-solid fa-x fa-8x" style="color: #e82626; display: none;"></i>
            </div>

        </div>
    </div>

    @* Footer *@
    <div id="footerText">
        Last updated [DATE]
    </div>
</div>

@* JS *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#btnGameOne').click(function () {
        let gameOneId = $('#gameOneId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameOneId },
            success: function (data) {
                if (data !== null) {
                    if (data.isCorrect == true) {
                        $('#gameOne_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameOne_IncorrectIcon').css('display', 'block');
                    }
                }
            }
        });
    });
</script>

<script>
    $('#btnGameTwo').click(function () {
        let gameTwoId = $('#gameTwoId').val();

        $.ajax({
            type: 'POST',
            url: '/ReviewScores/UserVote',
            data: { userChoiceId: gameTwoId },
            success: function (data) {
                if (data !== null) {
                    if (data.isCorrect == true) {
                        $('#gameTwo_CorrectIcon').css('display', 'block');
                    }
                    else {
                        $('#gameTwo_IncorrectIcon').css('display', 'block');
                    }
                }
            }
        });
    });
</script>

